.barcode-input {
    width: 100%;
    font-size: x-large;
    border: 1px solid midnightblue;
    border-radius: 0;
    padding: 7px 15px; 
    max-width: 700px
}

#product-form input {
    width: 100%;
    font-size: x-large;
    border: 1px solid cadetblue;
    border-radius: 3px;
    padding: 3px 5px;
}

#product-form select {
    width: 100%;
    font-size: x-large;
    border: 1px solid cadetblue;
    border-radius: 3px;
    padding: 3px 5px;
}

#barcode-div button {
    font-size: x-large;
    margin-left: 20px;
}

#product-form .row {
    /*margin-bottom: 20px;*/
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    margin-top: 8px;
}

label {
    font-weight: bold;
}

.filter-submit-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.filter-clear-button {
    position: absolute;
    right: 80px;
    bottom: 20px;
}

.alert {
    padding: 15px;
}

.cart-total-price {
    padding: 5px 7px;
    font-size: larger;
    color: red;
}

/* ------------------------------ */
.sale-barcode-input {
    padding: 8px 13px;
    margin: 5px 20px 20px 20px;
    font-size: xx-large;
    max-width: 600px;
}

.price-income {
    padding: 8px 13px;
    margin: 5px 20px 20px 20px;
    font-size: xx-large;
    max-width: 170px;
    color: blue;
}

.price-current {
    padding: 8px 13px;
    margin: 5px 20px 20px 20px;
    font-size: xx-large;
    max-width: 170px;
    color: red;
}

.price-after {
    padding: 8px 13px;
    margin: 5px 20px 20px 20px;
    font-size: xx-large;
    max-width: 170px;
    color: green;
}

.price-label {
    margin: 10px 0 0 20px;
    font-weight: bold;
}

.select-customer {
    margin: 5px 20px 20px 20px;
    font-size: x-large;
}

.sale-notes {
    margin: 5px 20px 20px 20px;
    font-size: large;
    padding: 5px 10px;
}

.income-money {
    margin: 5px 20px 20px 20px;
    font-size: large;
}

.btn-lg {
    padding: 20px;
}

.income-money button {
    font-size: larger;
}