@page
@model OpenPOS.Inventory.Pages.Index

@{
    Layout = "Shared/_Layout";
	ViewData["home-active"] = "active";
}

<div class="row mb-2 mb-xl-3">
	<div class="col-auto d-none d-sm-block">
		<h3><strong>Analitika</strong> <br> İdarəetmə paneli</h3>
	</div>

	<div class="col-auto ms-auto text-end mt-n1">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
				<li class="breadcrumb-item"><a href="#">Ana səhifə</a></li>
				<li class="breadcrumb-item"><a href="#">İdarəetmə paneli</a></li>
				<li class="breadcrumb-item active" aria-current="page">Analitika</li>
			</ol>
		</nav>
	</div>
</div>

@if (Model.ErrorMessage != null)
{
	<div class="alert-danger">@Model.ErrorMessage</div>
}

@section StoreSelect
{
	<form class="form-inline" method="post">
		<div style="display:flex ; justify-content: space-between; align-items: center; width: 100%">
			<select class="form-select" aria-label="Select store" asp-for="SelectedStore" style="margin-left: 20px">
				@if (Model.Stores.Count == 0)
				{
					<option value="@(Guid.Empty)">Hesaba bağlı mağaza yoxdur</option>
				}
				else
				{
					foreach (var store in Model.Stores)
					{
						<option value="@store.Id">@store.Name</option>
					}
				}
			</select>
			<button class="btn btn-primary" style="margin-left: 10px" type="submit" asp-page-handler="SelectStore" >
				Təstiqlə
			</button>
		</div>
	</form>
}
